section.section {
    background-color: #252525;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    height: 2000px;

    img {
        width: 100%;
    }
}
